<!-- Start header right -->
<div data-sidebar-minimize class="header-right">
    <!-- Start navbar toolbar -->
    <div class="navbar navbar-toolbar">

        <!-- Start left navigation -->
        <div class="navbar-logo">
          <a class="navbar-brand" href="#/">AngularJs vs Yii2 Application</a>
        </div>
        <!--/ End left navigation -->

        <!-- Start right navigation -->
        <div class="navbar-menu">
          <ul class="nav navbar-nav navbar-menu navbar-right">
            <li><a href="#/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a href="#/book/index"><i class="glyphicon glyphicon-book"></i> Book</a></li>
            <li><a href="#/form-wizard"><i class="glyphicon glyphicon-book"></i> Form-Wizard</a></li>
            <li><a href="#/site/about"><i class="glyphicon glyphicon-tag"></i> About</a></li>
            <li><a href="#/site/contact"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>
          </ul>
        </div>
        <!--/ End right navigation -->

    </div><!-- /.navbar-toolbar -->
    <!--/ End navbar toolbar -->
</div><!-- /.header-right -->
<!--/ End header left -->