<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">AngularJs vs Yii2 Application</a>
    </div>	  
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
      <li><a href="#/book/index"><i class="glyphicon glyphicon-book"></i> Book</a></li>
      <li><a href="#/form-wizard"><i class="glyphicon glyphicon-book"></i> Form-Wizard</a></li>
      <li><a href="#/site/about"><i class="glyphicon glyphicon-tag"></i> About</a></li>
      <li><a href="#/site/contact"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>
    </ul>
  </div>
</nav>